# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build
cmake-build-debug/

# Other
*~
.idea/

# Visual Studio
out/
VisualStudio/Debug/
VisualStudio/Include/
VisualStudio/Source/
VisualStudio/Release/
